<div>
  <h1>工程管理</h1>

<%= form_with model: @process_control,url: process_controls_path do |f| %>
  <h4>機械選択</h4>
  <%= f.select :machine_id, Machine.all.map{ |machine| ["#{machine.machine_unit} - #{machine.machine_number}", machine.id] } %>
  
  <h4>指示書選択</h4>
  <%= f.select :instruction_id, Instruction.all.map{ |instruction| [" #{instruction.product_name}", instruction.id] } %>

  <h2>CCS</h2>
  <h4>set温度</h4>
    <%= f.text_field :temperature_set %>°c
  <h4>燃焼温度</h4>
    <%= f.text_field :temperature_out %>°c

  <h2>チェック項目</h2>
  <h4>外観</h4>
    <%= f.text_field :check_exterior %>
  <h4>ライン確認</h4>
    <%= f.text_field :check_line %>
  <h4>塗料</h4>
    <%= f.text_field :check_paint %>
  <h4>測定確認者</h4>
    <%= f.text_field :check_neme %>

  <%= f.submit '新規登録' %>
<% end %>

  <h4>機械号機</h4>






</div>