<!DOCTYPE html>
<html>
  <head>
    <title>Task4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <li>
        <h1>LOGO</h1>
      </li>
      
      <% if admin_signed_in? %>
      
      <li>
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
      </li>
      
      <li>
        <%= link_to '指示書一覧', admin_instructions_path %>
      </li>
      
      <li>
        <%= link_to '工程管理表一覧', admin_process_controls_path %>
      </li>
      
      <li>
        <%= link_to '焼付機械一覧', admin_machines_path %>
      </li>
      
      <li>
        <%= link_to 'トップページ', root_path %>
      </li>
      
      <% else %>
      
      <li>
        <%= link_to '管理者ログイン', new_admin_session_path %>
      </li>
      
      <li>
        <%= link_to '指示書一覧', instructions_path %>
      </li>
      
      <li>
        <%= link_to '新規工程管理表', new_process_control_path %>
      </li>
      
      <li>
        <%= link_to '工程管理表一覧', process_controls_path %>
      </li>
      
      <li>
        <%= link_to '焼付機械一覧', machines_path %>
      </li>
      
      <li>
        <%= link_to 'トップページ', root_path %>
      </li>
      
      <% end %>
    </header>
    
    <%= yield %>
  </body>
</html>
